mlflow<3,>=2.3
astunparse==1.6.3
boto3==1.26.8
flatbuffers==23.5.26
gast==0.4.0
h5py==3.10.0
jax==0.4.20
keras==2.12.0
numpy==1.23.5
packaging==21.3
pandas==1.5.3
pillow==10.1.0
protobuf==4.25.1
requests==2.26.0
scipy==1.11.3
tensorboard==2.12.3
tensorflow-intel==2.12.0
tensorflow==2.12.0
termcolor==1.1.0
typing-extensions==4.8.0
wrapt==1.14.1